* {
  border: 2px solid red;  
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Scoreboard*/
.scoreboard {
  display: flex;
  float: center;
  height: 25%;
  width: 100%;
  margin-top: 2vh;
  align-items: center;
  justify-content: center;
}

<<<<<<< HEAD
#gameboard {
  width: 300px;
  float: right;
  height: 300px;
  background-color: black;
=======
#player-1 {
  height: 21vw;
  width: 21vw;
  align-items: center;
  justify-content: center;
>>>>>>> 5433c1c1f1bf37e8e71a3a8deb036bb4fa00bc89
  display: flex;
  margin-right: 1vw;
}

#player-2 {
  height: 21vw;
  width: 21vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}

.scoretext {
  font-family: "Courier New", Monospace;
  /* font-size: 2.5rem; */
  font-size: 24px;
  text-size-adjust: auto;
  border: 2px solid black;
  /* padding: 0 10px; */
}

.center {
  display: flex; 
  align-items: center;
  justify-content: center;
}
#score-1 {
  width: 6vw;
  height: 6vw;
  margin-right: 50%;
}
/*Gameboard*/
#gameboard {
  width: 63vw;
  height: 63vw;
  background-color: black;
  border: 1px solid black;
  display:flex;
  flex-wrap: wrap;
  float:right;
}

/*Game pieces*/
.square {
<<<<<<< HEAD
  width: 100px;
  height: 100px;
=======
  width: 21vw;
  height: 21vw;
>>>>>>> 5433c1c1f1bf37e8e71a3a8deb036bb4fa00bc89
  background-color: white;
  border: solid 2px black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
<<<<<<< HEAD
  height: 90px;
  width: 90px;
=======
  width: 90%;
  height: 90%;
>>>>>>> 5433c1c1f1bf37e8e71a3a8deb036bb4fa00bc89
  border-radius: 50%;
  border: 15px solid blue;
  box-sizing: border-box;
}

.cross {
<<<<<<< HEAD
  height: 90px;
  width: 90px;
=======
  width: 100%;
  height: 100%;
>>>>>>> 5433c1c1f1bf37e8e71a3a8deb036bb4fa00bc89
  position: relative;
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1vh;
  background-color: red;
}

<<<<<<< HEAD
.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

#score-1 {
  margin-left: 10px;
}

#score-2 {
  /* margin-left: 172px; */
  margin-left: 18vw;
}

.scoretext {
  font-family: "Courier New", Monospace ;
  font-size: 2.5rem;
  border: 2px solid black;
  padding: 0 10px;
}

#player-1 {
  margin: 10px 5px 10px 30vw;
}

#player-2 {
  margin: 10px 5px 10px 10px;
=======
.cross::before {
  transform:rotate(45deg);
}
.cross::after {
  transform:rotate(-45deg);
>>>>>>> 5433c1c1f1bf37e8e71a3a8deb036bb4fa00bc89
}
