* {
  /* border: 2px solid red;   */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.scoreboard {
  display: flex;
  float: center;
  /* margin-bottom: 10px; */
  height: 120px;
  /* width: 300px; */
  width: 100vw;
}

#gameboard {
  /* width: 300px; */
  width: 60vw;
  float: right;
  height: 60vh;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
}

.square {
  width: 20vw;
  height: 20vh;
  background-color: white;
  border: solid 2px black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  border: 15px solid blue;
  box-sizing: border-box;
}

.cross {
  height: 50%;
  width: 50%;
  position: relative;
  transform: rotate(45deg);
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  background-color: red;
}

.cross:before {
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
}

.cross:after {
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
}

#score-1 {
  margin-left: 10px;
}

#score-2 {
  /* margin-left: 172px; */
  margin-left: 18vw;
}

.scoretext {
  font-family: "Courier New", Monospace ;
  font-size: 2.5rem;
  border: 2px solid black;
  padding: 0 10px;
}

#player-1 {
  margin: 10px 5px 10px 30vw;
}

#player-2 {
  margin: 10px 5px 10px 10px;
}
